{% extends 'FabLabBundle:Adherent:adherent_base.html.twig' %}

{% block container %}
    <div class="panel panel-default", style="width:100%">
        <!-- Default panel contents -->
        <div class="panel-heading">
            Adhésions
            <button type="button" class="btn btn-primary" onclick="window.location.href='/adhesion/edit/0?adherent_no={{adherent.no}}'">ADD</button>
        </div>
        <table class="table">
            <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Prix</th>
                <th>CF</th>
            </tr>
            {% for adhesion in adhesions %}
            <tr>
                <td>{{adhesion.getDateStr()}}</td>
                <td>{{ adhesion.type }}</td>
                <td>{{adhesion.price}}</td>
                <td>{{adhesion.cf}}</td>
            </tr>
            {% endfor %}
        </table>
</div>
{% endblock %}


