{% extends 'FabLabBundle::base_fablab.html.twig' %}

{% block body %}

<div class="container bs-docs-container">
    <div class="panel panel-default", style="width:100%">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <button type="button" class="btn btn-primary" onclick="window.location.href='/adherent/edit'">ADD</button>
        </div>
        <table class="table">
            <tr>
                <th>No</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Type</th>
                <th>Cat</th>
                <th>Date Fin Adhesion</th>
                <th>CT</th>
            </tr>
            {% for adherent in adherents %}
            <tr>
                <td><a href="/adherent/edit/{{adherent.no}}">{{adherent.no}}</td>
                <td>{{adherent.name}}</td>
                <td>{{adherent.surname}}</td>
                {% if adherent.type == 0 %}
                    <td>pro</td>
                {% else %}
                    <td>particulier</td>
                {% endif%}
                <td>{{adherent.price_categorie}}</td>
                <td>{{adherent.get_end_adhesion()}}</td>
                <td>{{adherent.cf}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
