{% extends 'FabLabBundle::base_fablab.html.twig' %}

{% block body %}

<div class="container bs-docs-container">
    <div class="panel panel-default", style="width:100%">
        <!-- Default panel contents -->
        <div class="panel-heading">
            Achats
        </div>
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Type</th>
                <th>Price</th>
                <th>Unite</th>
                <th>Sum_price</th>
                <th>Sum_qty</th>
            </tr>
            {% for produit in res %}
            <tr>
                <td><a href="/produit/edit/{{produit.id}}">{{produit.id}}</td>
                <td>{{produit.name}}</td>
                <td>{{produit.categorie}}</td>
                <td>{{produit.price}}</td>
                <td>{{produit.unite}}</td>
                <td>{{produit.sum_price}}</td>
                <td>{{produit.sum_qty}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
